<% if user_signed_in? %>
	<h3 class="left">Bienvenido: <%= current_user.email %></h3>
	<% if current_user.permission_level == 3 %>
		<%= link_to "Administrar Artículos", "/admin_articles", method: :get, class: "blue" %> -
		<%= link_to "Usuarios", "/admin_usuarios", method: :get, class: "blue" %>
	<% end %>
	<div class="col-md-12" style="text-align: left; padding-left: 0px">
		<h3><%= link_to "Crear Artículo", new_article_path(@article), class: "button-red" %></h3>		
	</div>
<% end %>
<center><h1>Artículos</h1></center>
	<div class="row">	
		<%= render @articles %>
	</div>
<center><%= will_paginate @articles %></center>

<script>

	$(function() {
	  $(document).ready(function() {
	  	if(!$(".notice").is(':empty')) {
		  bootbox.alert("Sesión Finalizada") ;
		}
	    
	  })
	})
  
</script>