<center>
	<h1><%= @article.title %></h1>
	<div class="field">
		<!-- Se pueden mandar llamar helpers, en este caso es para imprimir un header donde se requiera, por el momento no lo imprimo -->
		<% article_cover @article.cover.url %>
		<%= image_tag @article.cover.url, :style => "width: 60%" %>
	</div>	
	<% unless @article.user.nil? %>
	<p>
		<strong>Escrito por:</strong> <%= @article.user.email %>
	</p>
	<% end %>	
	<p>
		<strong>Visitas:</strong> <%= @article.visits_count %>
	</p>
	<div style="text-align: justify;">
		<!-- Aqui va con el sanitize -->
		<p style="width: 80%; margin: 0 auto;"><%= @article.body.html_safe %></p>
		<!-- se pone html_safe para cuando hay un editor de texto, no muestre el html si no como pagina normal -->
	</div>
	<br>
	<% if user_signed_in? %>		
		<% if current_user.permission_level == 3 %>
		<div>
			<%= link_to "Editar Artículo", edit_article_path(@article) %>
		</div>			
		<% end %>		
	<% end %>	
	<hr>
	<div class="field">
		<h3>Sección de Comentarios</h3>
		<%= render "comments/form" %>
		<br>
		<ul id="comments-box">
			<% cont = 0 %>
			<% @article.comments.each do |comment| %>
				<li class="li-comment"> <!-- dentro each mostramos los elementos del objeto comment que está iterando a @article.comments -->
					<% cont = cont + 1 %>- <%= comment.body %> - <strong>Escrito por:</strong> <%= comment.user.email %>
					<%= link_to 'Eliminar', [@article, comment], method: :delete, data: { confirm: '¿Deseas eliminar el comentario?' }, class: "red" %>
					<br>
				</li>
			<% end %>
		</ul>
	</center>
	</div>
</center>

<script>

$(function() {
  $(document).ready(function() {
  	if(!$(".notice").is(':empty')) {
	  bootbox.alert("Comentario eliminado") ;
	}
    
  })
})
  
</script>